{% extends "base.html" %}
{% block body %}

<nav class="navbar">
<a class="hide-phone" id="logo" href="about.html"><i class="icon-angle-right"></i> About</a>
<ul>
<li><a href="medical.html"><span>Medical</span> Admissions</a></li>
<li><a href="surgical.html"><span>Surgical</span> Admissions</a></li>
</ul>
</nav>

{% block content %}
Content
{% endblock %}

<div class="clear"></div>
<div id="footer">
&copy; Copyright 2014 All Rights Reserved. This website was built with 
<a href="http://www.99lime.com">HTML KickStart</a> • 
<a href="http://99lime.com/rss/">RSS</a> • 
<a href="http://www.99lime.com/_bak2/">Joshua Gatcke</a>
</div>


{% endblock %}
