{% extends "base/gumby.html" %}


{% block page_title %}Ahha {{user.is_authenticated}}{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}


<!-- Example row of columns -->
<div class="row">
  <div class="eight columns">
    <h1>Forecasting Overview</h1>
  </div>
  <div class="four columns">
    <h1 class="download"><a href="#"><i class="icon-install"></i>Download</a></h1>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2>Medical</h2>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <p>Graph here</p>
  </div>
  <div class="six columns">
    <p>Table here</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2>Surgical</h2>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <p>Graph here</p>
  </div>
  <div class="six columns">
    <p>Table here</p>
  </div>
</div>

{% endblock %}
