<table class="neat sectiontable">
<tr class="mainhead"><th></th>
{% if medical %}
<th colspan="3">Medical</th>
{% endif %}
{% if surgical %}
<th colspan="3">Surgical</th>
{% endif %}
</tr>
<tr class="subhead"><th>Date</th>
{% if medical %}
<th>Actual</th><th>Predicted</th><th>TCI</th>
{% endif %}
{% if surgical %}
<th>Actual</th><th>Predicted</th><th>TCI</th>
{% endif %}
</tr>
{% for row in table %}
<tr class="{{row.day}} {{row.wkend}}">
<td>{{row.date}}</td>
{% if medical %}
<td>{{row.MedActual|default_if_none:"-"}}</td>
<td>{{row.MedPredict|default_if_none:"-"}}</td>
<td>{{row.MedTCI|default_if_none:"-"}}</td>
{% endif %}
{% if surgical %}
<td>{{row.SurgActual|default_if_none:"-"}}</td>
<td>{{row.SurgPredict|default_if_none:"-"}}</td>
<td>{{row.SurgTCI|default_if_none:"-"}}</td>
{% endif %}
</tr>
{% endfor %}
</table>
